[Unit]
Description=Log Analyzer Backend
After=network.target postgresql.service

[Service]
Type=simple
User=root
Group=root
WorkingDirectory=/root/log-analyzer/backend
Environment=PATH=/root/log-analyzer/backend/venv/bin
EnvironmentFile=/root/log-analyzer/backend/.env
ExecStart=/root/log-analyzer/backend/venv/bin/gunicorn --bind 0.0.0.0:5000 "app:create_app()"
Restart=always
RestartSec=10

[Install]
WantedBy=multi-user.target 